<ul class="user-products-list">
    <% for (let i = 0; i < data.length; i++) 
    { %> 
    <li>
    <h4>Attraction: <%= data[i].name %></h4>
    <p>Price: £<%= data[i].price %></p>
    </li>
    <% } %>
    </ul>

    <% if(data.length > 0) 
{ %>
<p>Select a product from the list.</p>
<% } 
else 
{ %>
<p>No products available...</p>
<% } %> 