<!DOCTYPE html>
<!--
Copyright (c) 2024 Staffordshire University - All Rights Reserved
-->
<html lang="en">

<head>
    <title>TOKENS</title>
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <main>
       
            <header>
                <h1>TOKENS</h1>
            </header>
            
    </main>
</body>

</html>